@import url('https://fonts.googleapis.com/css2?family=Montez&family=Montserrat:wght@300&family=Nunito+Sans:opsz,wght@6..12,600&family=Oswald&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@700&family=Work+Sans:wght@300&display=swap');

.App{
  background-image: url('https://img.freepik.com/free-photo/chat-message-yellow-speech-bubble-icon-notification-button-talk-dialog-symbol-conversation-button-icon-symbol-background-3d-illustration_56104-2068.jpg')
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb{
  background: rgba(136, 136, 136, 0.281);
}

::-webkit-scrollbar-thumb:hover{
  background: #555;
}

.messages{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
}

.more{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease;
}

.relative:hover .more{
  visibility: visible;
  opacity: 1;
}